$primary-color: #255965;
$primary-color-dark: #27133a;
$primary-color-light: #9b59b6;
$primary-color-super-light: #f7e4ff;
$header-background: #087972;
$header2-background: #255965;
$header2-background-light: #255965cc;
//
$admin-background: #011022;
$admin-background-light: #34404e;
$admin-background-2: #232323;
$admin-text-color: rgba(255, 255, 255, 0.85);
$admin-line-color: #303030;
$admin-line-color-2: #4b4b4b;
$transparent: transparent;
$white: #fff;
$black: black;
$green-1: #07ad87;
$blue-1: #1890ff;
$footer-background: #e5e5e5;
$footer-text-1: #757575;
$gray-background-1: #ebecf0;
$text-color-1: #49474a;
$text-color-2: #212529;
$text-color-3: #2a5872;
$text-color-4: #bc2634;
$text-color-5: #b8b6b6;
$text-color-6: #495057;
$text-color-7: #007e95;
$text-color-8: #007c91;
$text-color-9: #5DC8B6;
$text-color-10: #5e5862;
$border-color-1: #f2f2f236;
$border-color-2: #f2f2f2;
$border-color-3: #bbbbbb;
$border-color-4: #ebebeb;
$border-color-5: #80bdff;
$border-color-6: #b8b7be;
$border-color-7: #2A8387;
$background-color-1: #4bbd99;
$background-color-2: #faa51a;
$background-color-3: #BDE7F5;
$background-color-4: #7575755d;
$background-color-5: #e2e2e25b;
$background-color-6: #eaeaea;
$background-color-7: #797979;
$background-color-8: #a5a5a5;
$background-color-9: #111e285e;
$background-color-10: #255c5d;
$background-color-11: #37ADB2;
$background-color-12: #329CA0;
$background-color-13: #0a717a;
$background-color-14: #00000096;
$background-color-15: #cdebf2;
$background-color-16: #195875;
$background-color-17: #195875;
$background-color-18: #02142B;
$background-color-19: #0C1D33;
$boxShadown-color-1: #00c297;
$boxShadown-color-2: #0000004d;
$boxShadown-color-3: #0000001f;
$boxShadown-color-4: #0000001a;
//
$green: #299d63;
$green-2: green;
$green-dark: #1c7749;
$green-light: #3ec984;
$green-light-2: #0080003b;
$green-1: #3E917A;
$red: #e65656;
$red-dark: #c33838;
$red-light: #fc7f7f;
$red-1: red;
$orange: orange;
$orange-1: #FFA71D;
$yellow: #B9BC2F;
$blue: blue;
$blue-light: #ceceff;

@mixin container {
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;

  // padding-top: 90px;
  @media screen and (max-width:1199px) {
    max-width: 960px;
  }

  @media screen and (max-width:991px) {
    max-width: 720px;
  }

  @media screen and (max-width:767px) {
    max-width: 540px;
  }

  @media screen and (max-width:575px) {
    max-width: 100%;
  }
}

@mixin container1 {
  width: 100%;
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 30px 30px;
}

@mixin container2 {
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  padding: 40px 30px;
}

@mixin userMainButton {
  padding: 8px 20px;
  color: #fff;
  background-color: #255965;
  border: none;
  border-radius: 5px;
  transition: .2s;
  display: flex;
  align-items: center;
  gap: 5px;

  &.disable {
    background-color: $header2-background-light;
    opacity: 0.7;

    &:hover {
      cursor: not-allowed;
    }
  }

  &:hover {
    background-color: $header2-background-light;
    cursor: pointer;
  }
}

@mixin userDropdownSelected {
  width: 100%;
  border: 1px solid $background-color-4;
  padding: 5px 10px;
  border-radius: 5px;
  transition: .2s;
  display: flex;
  background-color: $white;
  gap: 10px;

  &.active {
    border-color: $header2-background;
    outline: 1px solid $header2-background;
  }

  &:hover {
    border-color: $header2-background;
  }

  &:focus {
    border-color: $header2-background;
  }

  &:focus-visible {
    outline: 1px solid $header2-background;
  }

  span {
    &:last-child {
      margin-left: auto;
    }
  }

  img {
    display: block;
    width: 20px;
    height: 20px;
  }
}

@mixin userDropdownMenu {
  max-height: 0;
  overflow: hidden;
  width: 100%;
  opacity: 0;
  transition: all .2s;
  z-index: 9;

  &.show {
    max-height: 1000px;
    opacity: 1;
  }

  .field-dropdown-menu {
    margin-top: 5px;
    padding: 3px 0;
    color: $black;
    border-radius: 5px;
    background-color: $white;
    border: 1px solid $background-color-4;
    max-height: 350px;
    overflow-y: scroll;

    .field-dropdown-item {
      padding: 5px 10px;
      display: flex;
      transition: .2s;
      gap: 5px;

      &.active {
        background-color: $background-color-9;
      }

      &:hover {
        cursor: pointer;
        background-color: $background-color-8;
      }

      span {
        img {
          display: block;
          width: 20px;
          height: 20px;
        }
      }

      .field-dropdown-content {
        margin-left: 10px;
      }
    }
  }
}

@mixin adminDropdown {
  position: relative;

  .admin__dropdown-selected {
    border: 1px solid $background-color-4;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s;

    &:hover {
      border-color: $white;
      cursor: pointer;
    }

    &.active {
      border-color: $white;
      cursor: pointer;
    }

    &.disabled {
      color: $background-color-4;

      &:hover {
        border-color: $background-color-4;
        cursor: not-allowed;
      }
    }
  }

  .admin__dropdown-menu {
    background-color: #1f1f1f;
    position: absolute;
    top: 36px;
    left: 0;
    width: 100%;
    padding: 5px 0;
    border-radius: 5px;
    box-shadow: -1px 5px 26px -5px rgba(0, 0, 0, 0.65);
    overflow: hidden;
    max-height: 0;
    transition: .2s;
    opacity: 0;

    &.show {
      max-height: 1000px;
      opacity: 1;
    }

    .admin__dropdown-item {
      padding: 3px 10px;
      transition: .2s;

      &:hover {
        background-color: #313131;
        cursor: pointer;
      }

      &.active {
        background-color: #111E28;

        &:hover {
          background-color: #111E28;
        }
      }
    }
  }
}

@mixin adminTable {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid $background-color-4;
  transition: .2s;

  thead {
    tr {
      background-color: $background-color-4;

      &:hover {
        background-color: $background-color-4;
      }
    }
  }

  tr {
    transition: .4s;

    &:hover {
      background-color: $background-color-5;
    }

    &:last-child {
      td {
        border-bottom: none
      }
    }
  }

  th {
    padding: 10px;
    border-left: 1px solid $background-color-4;
    border-bottom: 1px solid $background-color-4;

    &:first-child {
      border-left: none;
      border-bottom: 1px solid $background-color-4;
    }
  }

  td {
    padding: 10px;
    border-left: 1px solid $background-color-4;
    text-align: left;
    border-bottom: 1px solid $background-color-4;

    &:first-child {
      border-left: none;
    }
  }
}

@mixin adminButtonPrimary {
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: $background-color-4;
  transition: .2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  &.disabled {
    opacity: 0.3;

    &:hover {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}

@mixin adminButtonGhost {
  display: inline;
  padding: 3px 15px;
  border: 1px solid $background-color-4;
  border-radius: 5px;
  color: $white;
  background-color: $transparent;
  transition: .4s;

  &:hover {
    cursor: pointer;
    color: $green-2;
    border-color: $green-2;
  }
}

.box {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 30px;
}

label {
  display: block;
  margin-bottom: 8px;
}

h2.title {
  font-weight: bold;
  color: $primary-color;
  margin-bottom: 25px;
}

.error {
  font-weight: 500;
  color: red;
  margin-top: 4px;
}

.--d-none {
  display: none !important;
}

.--d-block {
  display: block !important;
}

.--d-flex {
  display: flex !important;
}

.--visible-hidden {
  visibility: hidden !important;
}

//===
.spin-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
}

// ===
@keyframes fadeInBottomToTop {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInBottomToTop {
  animation: fadeInBottomToTop 0.5s ease-out;
}

@keyframes fadeInTopToBottom {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInTopToBottom {
  animation: fadeInTopToBottom 0.5s ease-out;
}

@keyframes fadeInRightToLeft {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRightToLeft {
  animation: fadeInRightToLeft 0.5s ease-out;
}

@keyframes fadeInLeftToRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeftToRight {
  animation: fadeInLeftToRight 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOut 0.5s ease-out;
}

.loader {
  border: 3px solid transparent;
  border-top: 3px solid $white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}