.ads {
    color: $white;

    .ads__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .ads__title {
            color: $white;
            margin-bottom: 0;
            font-size: 24px;
            font-weight: bold;
        }

        .ads__filter {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            align-items: center;

            .ads__dropdown {
                @include adminDropdown;
            }

            .ads__dropdown-action {
                display: flex;
                align-items: center;
                gap: .3125rem;

                label {
                    margin-bottom: 0;
                }
            }

            .ads__checkbox {
                .ads__checkbox-item {
                    display: flex;
                    align-items: center;
                    gap: 3px;
                    position: relative;
                    margin-bottom: 0;

                    &:hover {
                        cursor: pointer;
                    }

                    .ads__checkbox__control {
                        width: 15px;
                        height: 15px;
                        border: 1px solid $background-color-4;
                        border-radius: 3px;
                    }

                    i {
                        position: absolute;
                        top: 4px;
                        right: 1px;
                        display: none;
                    }
                }

                input[type="checkbox"]:checked+label {
                    i {
                        display: block;
                    }
                }
            }

            .ads__dropdown-coin {
                display: flex;
                align-items: center;
                gap: .3125rem;

                label {
                    margin-bottom: 0;
                }

                .admin__dropdown-selected {
                    width: 100px;
                }
            }
        }

        .ads__paging {

            .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
            .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
                color: $admin-text-color;
            }

            li {
                background-color: $transparent;
                border: none;

                &.ant-pagination-item-active {
                    border: 1px solid $background-color-4;
                }

                .ant-pagination-item-ellipsis {
                    color: $admin-text-color;
                }

                a {
                    color: $admin-text-color;
                    border: none;
                }

                button {
                    background-color: $transparent;
                    color: $admin-text-color;
                    border: none;
                }
            }
        }
    }

    .ads__content {
        width: 100%;

        .ads__table {
            @include adminTable;
        }
    }
}

.ads-modal-coin-content {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 24px;
    gap: 20px;

    .ads-modal-coin-content__item {
        border: 1px solid $background-color-4;
        border-radius: 5px;
        padding: 5px 10px;
        transition: .2s;
        display: flex;
        gap: 5px;

        &:hover {
            cursor: pointer;
            border-color: $header2-background;
        }

        &.active {
            color: $white;
            border-color: $header2-background;
            background-color: $header2-background;
        }

        .ads-modal-coin-content__img {
            img {
                display: block;
                width: 20px;
                height: 20px;
                object-fit: cover;
            }
        }
    }
}