.adminTemplate {
    background-color: $admin-background;
    min-height: 100vh;
    padding-top: 50px;

    .adminTemplate__content {
        .adminTemplate__content-main {
            padding: 30px;
            transition: margin-left .6s;

            &.small {
                margin-left: 300px;

                @media screen and (max-width:768px) {
                    margin-left: 67px;
                }
            }
        }
    }
}