.ads-history {
    margin-top: 90px;
    padding: 30px 0;

    .container {
        @include container;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .ads-history__content {
            input[type='checkbox']#pendingCheckbox:checked+label {
                i {
                    display: block;
                }
            }

            .ads-history__checkbox {
                display: flex;
                gap: 5px;
                margin-bottom: 20px;
                align-items: center;

                label {
                    margin-bottom: 0;
                }

                .ads-history__square {
                    width: 15px;
                    height: 15px;
                    border: 1px solid $background-color-4;
                    background-color: $white;
                    border-radius: 3px;
                    position: relative;

                    i {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: none;
                    }
                }
            }

            .ads-history__filter-tabs-container {
                border-bottom: 1px solid $background-color-6;
                display: flex;
                margin-bottom: 10px;

                .ads-history__filter-tabs {
                    padding: 12px 16px;
                    font-weight: bold;

                    &:hover {
                        cursor: pointer;
                        background-color: $background-color-6;
                        border-top-right-radius: 5px;
                        border-top-left-radius: 5px;
                        color: $header2-background;
                        border-bottom: 2px solid $header2-background;
                    }

                    &.active {
                        background-color: $background-color-6;
                        border-top-right-radius: 5px;
                        border-top-left-radius: 5px;
                        color: $header2-background;
                        border-bottom: 2px solid $header2-background;
                    }
                }
            }

            .ads-history__record {
                margin-top: 12px;
                background-color: white;
                padding: 20px;
                font-size: 16px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                gap: 15px;

                &>div {
                    @media screen and (max-width:576px) {
                        width: 100%;
                    }
                }

                @media screen and (max-width:992px) {
                    flex-direction: column;
                }

                table {

                    @media screen and (max-width:576px) {
                        width: 100%;
                    }

                    tbody {

                        tr {
                            td {
                                padding: 0 5px;

                                @media screen and (max-width:576px) {
                                    border: 1px solid $background-color-4;
                                }

                                &:first-child {
                                    font-weight: bold;
                                    text-align: right;

                                    @media screen and (max-width:992px) {
                                        width: 152px;
                                    }

                                    @media screen and (max-width:576px) {
                                        width: 50%;
                                    }
                                }

                                &.ads-history-action {

                                    .spin-container {
                                        height: 60px
                                    }

                                    button {
                                        @include adminButtonGhost;
                                        color: $green;
                                        border-color: $green;

                                        &:hover {
                                            background-color: $green;
                                            color: $white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .ads-history__paging {
            text-align: right;
            margin-top: 20px;
        }
    }
}