.ads-history {
    margin-top: 100px;
    padding: 30px 0;
    font-size: 15px;
    background: $new-background-3;

    .container {
        @include container;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .ads-history__content {
            background: $new-background-4;
            padding: 15px;

            @media screen and (min-width: 480px) {
                padding: 24px;
            }

            h3 {
                color: $new-text-color-6;
                font-size: 20px;
                letter-spacing: 0.5px;
            }

            input[type="checkbox"]#pendingCheckbox:checked + label {
                i {
                    display: block;
                    color: black;
                }
            }

            .ads-history__checkbox {
                display: flex;
                gap: 5px;
                margin-bottom: 15px;
                align-items: center;
                color: $new-text-color-white;
                font-size: 16px;

                label {
                    margin-bottom: 0;
                }

                .ads-history__square {
                    width: 15px;
                    height: 15px;
                    border: 1px solid $background-color-4;
                    background-color: $white;
                    border-radius: 3px;
                    position: relative;

                    i {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: none;
                    }
                }
            }

            .ads-history__filter-tabs-container {
                border-bottom: 1px solid $new-primary-background-6;
                display: flex;
                margin-bottom: 10px;

                .ads-history__filter-tabs {
                    padding: 8px 24px;
                    font-weight: 600;
                    color: $new-text-color-6;
                    cursor: pointer;
                    font-size: 14px;

                    @media screen and (min-width: 480px) {
                        font-size: 16px;
                    }

                    &.active {
                        background-color: $new-primary-background-6;
                        border-top-right-radius: 5px;
                        border-top-left-radius: 5px;
                        color: $new-text-color-white;
                        border-bottom: 2px solid $header2-background;
                    }
                }
            }

            .ads-history__record {
                margin-top: 12px;
                background-color: $new-background-5;
                color: $new-text-color-white;
                padding: 10px;
                font-size: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 15px;
                box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);

                @media screen and (min-width: 480px) {
                    padding: 10px 15px;
                }

                & > div {
                    @media screen and (max-width: 576px) {
                        width: 100%;
                    }
                }

                @media screen and (max-width: 992px) {
                    flex-direction: column;
                }

                table {
                    font-size: 15px;

                    @media screen and (max-width: 576px) {
                        width: 100%;
                    }

                    tbody {
                        tr {
                            td {
                                padding: 2px 5px;

                                @media screen and (max-width: 576px) {
                                    border: 1px solid $background-color-4;
                                }

                                &:first-child {
                                    font-weight: 600;
                                    text-align: right;

                                    @media screen and (max-width: 992px) {
                                        width: 152px;
                                    }

                                    @media screen and (max-width: 576px) {
                                        width: 50%;
                                    }
                                }

                                &.ads-history-action {
                                    .spin-container {
                                        height: 60px;
                                    }

                                    .ads-history-action-container {
                                        display: flex;
                                        gap: 10px;
                                        padding: 10px;
                                        align-items: center;
                                        justify-content: center;

                                        button {
                                            @include adminButtonGhost;
                                            color: $green;
                                            border-color: $green;

                                            &:hover {
                                                background-color: $green;
                                                color: $white;
                                            }

                                            &.--danger {
                                                color: $red-1;
                                                border-color: $red-1;

                                                &:hover {
                                                    background-color: $red-1;
                                                    color: white;
                                                }

                                                .disabled {
                                                    background-color: $red-1;
                                                    color: white;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .ads-history__paging {
            text-align: right;
            margin-top: 20px;
        }
    }
}
