.p2pExchange {
    padding-top: 100px;
    background: url(../../../../public/img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $new-text-color-white;

    .container {
        @include container1;

        .p2pExchange__title {
            font-size: 25px;
            text-align: center;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .p2pExchange__selected {
            background-color: $neutral-3;
            padding: 20px 10%;
            border-radius: 5px;
            position: relative;
            margin-bottom: 20px;

            @media screen and (max-width:576px) {
                text-align: center;
            }


            .p2pExchange__button-select {
                padding: 20px;
                position: absolute;
                top: 0;
                right: 0;
                background-color: $neutral-4;
                border: none;
                outline: none;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;

                @media screen and (max-width:576px) {
                    position: static;
                    padding: 5px;
                    width: 100%;
                }

                &:hover {
                    cursor: pointer;
                    background-color: $neutral-5;
                }
            }
        }

        .p2pExchange__search-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            border-radius: 5px;
            position: relative;

            .p2pExchange__input-container {
                input {
                    padding: 10px;
                    width: 100%;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    color: $neutral-3;
                }

                span {
                    position: absolute;
                    top: 38px;
                    right: 5px;
                    background-color: $neutral-3;
                    padding: 5px;
                }
            }

            .p2pExchange__type {
                background-color: $neutral-20;
                border-radius: 5px;
                padding: 15px;
                color: $neutral-3 ;

                .p2pExchange__type-list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;

                    .p2pExchange__type-item {
                        padding: 5px;
                        border-radius: 5px;
                        border: 1px solid $background-color-4;

                        &:hover {
                            border-color: $neutral-3;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .p2pExchange__data {
            margin-top: 20px;

            .p2pExchange__data-content {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .p2pExchange__data-content-item {
                    background-color: $neutral-3;
                    border-radius: 5px;
                    padding: 10px;
                    display: flex;
                    align-items: center;

                    @media screen and (max-width:576px) {
                        flex-direction: column;
                    }

                    .p2pExchange__data-cell {
                        width: 25%;

                        @media screen and (max-width:576px) {
                            width: 100%;
                        }

                        &.amount {
                            text-align: center;

                            @media screen and (max-width:576px) {
                                text-align: left;
                            }
                        }

                        &.minimum {
                            text-align: center;

                            @media screen and (max-width:576px) {
                                text-align: left;
                            }
                        }

                        &.action {
                            text-align: right;
                            display: flex;
                            gap: 10px;
                            justify-content: flex-end;

                            @media screen and (max-width:576px) {
                                justify-content: flex-start;
                            }

                            button {
                                @include userMainButton;
                            }
                        }
                    }
                }
            }
        }

        .p2pExchange__paging {
            margin-top: 20px;
            text-align: right;
        }

        .p2pExchange__footer {
            margin-top: 20px;
            display: flex;
            flex-direction: column;

            .p2pExchange__footer-item {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.p2pExchange__list-coin {
    padding: 16px 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .p2pExchange__coin-item {
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid $background-color-4;
        transition: 0.2s;
        display: flex;
        align-items: center;
        gap: 5px;

        img {
            display: block;
            width: 20px;
            height: 20px;
            object-fit: cover;
        }

        &.active {
            background-color: $header2-background;
            border-color: $header2-background;
            color: $white;
        }

        &:hover {
            cursor: pointer;
            background-color: $header2-background;
            border-color: $header2-background;
            color: $white;
        }

        span {
            &:last-child {
                transform: translateY(1px);
            }
        }
    }
}