.p2pManagement {
    padding-top: 120px;
    padding-bottom: 30px;

    .container {
        @include container;
        border-radius: 5px;
        padding: 30px;
        background-color: whitesmoke;

        .p2pManagement__header {
            .p2pManagement__header-tab {
                display: flex;
                margin-bottom: 20px;

                @media screen and (max-width:576px) {
                    display: none;
                }

                .p2pManagement__header-tab-item {
                    font-size: 17px;
                    width: 90px;
                    height: 50px;
                    border-bottom: 1px solid $background-color-4;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;

                    &:last-child {
                        flex-grow: 1;
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    &.active {
                        border: 1px solid $background-color-4;
                        border-bottom: none;
                    }
                }
            }

            .p2pManagement__header-dropdown {
                display: none;
                margin-bottom: 20px;
                position: relative;

                @media screen and (max-width:576px) {
                    display: block;
                }

                .p2pManagement__header-selected {
                    font-size: 17px;
                    width: 100%;
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    border: 1px solid $background-color-4;
                    border-radius: 5px;
                }

                .p2pManagement__header-menu {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    gap: 2px;
                    padding: 5px 0;
                    border: 1px solid $background-color-4;
                    border-radius: 5px;
                    position: absolute;
                    background-color: whitesmoke;
                    top: 40px;
                    left: 0;
                    transition: .2s;
                    max-height: 0px;
                    opacity: 0;
                    overflow: hidden;

                    &.active {
                        max-height: 1000px;
                        opacity: 1;
                    }

                    .p2pManagement__header-menu-item {
                        text-align: center;
                        padding: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                    }
                }
            }
        }

        .p2pManagement__filter {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 20px;

            .p2pManagement__filter-radio {
                display: flex;
                align-items: center;
                justify-content: center;

                input[type='radio']:checked+label .p2pManagement__filter-dot {
                    display: block;
                }

                label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 3px;
                    margin-bottom: 0;

                    &:hover {
                        cursor: pointer;
                    }

                    .p2pManagement__filter-circle {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border: 1px solid $background-color-4;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .p2pManagement__filter-dot {
                        width: 80%;
                        height: 80%;
                        background-color: $header2-background;
                        border-radius: 50%;
                        display: none;
                    }
                }
            }

            .p2pManagement__filter-item {
                border: 1px solid $background-color-4;
                border-radius: 5px;
                padding: 3px 5px;

                &:hover {
                    cursor: pointer;
                }

                &.active {
                    background-color: $header2-background;
                    border-color: $background-color-4;
                    color: $white
                }
            }
        }

        .p2pManagement__content {
            .p2pManagement__content-title {
                font-weight: bold;
            }

            .p2pManagement__content-data {
                table {
                    width: 100%;

                    @media screen and (max-width:576px) {
                        display: block;
                    }

                    thead {
                        @media screen and (max-width: 576px) {
                            display: block;
                            width: 100%;
                        }
                    }

                    tbody {
                        @media screen and (max-width: 576px) {
                            display: block;
                            width: 100%;
                        }
                    }

                    tr {
                        border-bottom: 1px solid $background-color-4;

                        @media screen and (max-width:576px) {
                            width: 100%;
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                        }

                        td,
                        th {
                            padding: 15px 10px 5px 10px;
                            text-align: left;

                            @media screen and (max-width:576px) {
                                display: block;
                            }
                        }

                        td {
                            vertical-align: text-top;
                        }
                    }
                }
            }
        }
    }
}