.p2ptrading2 {
  margin: auto;
  padding: 30px;

  @media screen and (max-width: 576px) {
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    @include container;

    .record-content {
      margin-top: 12px;
      background-color: white;
      padding: 20px;
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;

      @media screen and(max-width:992px) {
        flex-direction: column;
        align-items: flex-start;
      }

      @media screen and(max-width:576px) {
        align-items: stretch;
      }

      table {
        @media screen and (max-width:576px) {
          width: 100%;
        }

        tbody {
          @media screen and (max-width:576px) {
            width: 100%;
          }

          tr {
            td {
              @media screen and (max-width:576px) {
                border: 1px solid $background-color-4;
              }

              &:first-child {
                font-weight: bold;
                vertical-align: top;
                text-align: right;

                @media screen and (max-width:576px) {
                  width: 50%;
                }
              }

              vertical-align: bottom;
              padding: 0 5px;
            }
          }
        }
      }

      .item2 {
        .item2-amount-number {
          font-weight: bold;
        }
      }

      .item4 {
        button {
          padding: 8px 20px;
          color: $white;
          background-color: $header2-background;
          border: none;
          border-radius: 5px;
          transition: .2s;
          display: flex;
          align-items: center;
          gap: 5px;

          &.buy-coin {
            background-color: $green;

            &:hover {}
          }

          &.sell-coin {
            background-color: $red;
          }

          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
    }

    .buy {
      background-color: whitesmoke;
      padding: 30px;
      border-radius: 5px;

      @media screen and (max-width:576px) {
        padding: 20px;
      }

      .buy-title {
        font-size: 16px;
        display: flex;
        align-items: center;

        i {
          color: $green;
          margin-right: 8px;
        }

        span {
          span {
            color: $green;
            font-weight: bold;
          }
        }

        button {
          background-color: $transparent;
          border-radius: 5px;
          border: 1px solid $background-color-4;
          padding: 0 5px;
          transition: .2s;

          &:hover {
            background-color: $header2-background;
            color: $white;
            cursor: pointer;
          }
        }
      }

      .buy-ad {
        .buyAdBtn {
          background-color: $green;
          border: none;
          margin-top: 20px;
          padding: 8px 20px;
          border-radius: 5px;
          transition: .2s;
          color: $white;

          &:hover {
            opacity: 0.8;
          }
        }
      }

      .buy__filter {
        margin-top: 15px;
        margin-bottom: 15px;
        @include userInput;
        width: 200px;
        display: flex;
        gap: 5px;

        button {
          @include userMainButton;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }

    .sell {
      margin-top: 30px;
      background-color: whitesmoke;
      padding: 30px;
      border-radius: 5px;

      .sell-title {
        font-size: 16px;
        display: flex;
        align-items: center;

        i {
          color: $red;
          margin-right: 8px;
        }

        span {
          span {
            color: $red;
            font-weight: bold;
          }
        }

        button {
          background-color: $transparent;
          border-radius: 5px;
          border: 1px solid $background-color-4;
          padding: 0 5px;
          transition: .2s;

          &:hover {
            background-color: $header2-background;
            color: $white;
            cursor: pointer;
          }
        }
      }

      .sell-ad {
        .sellAdBtn {
          background-color: $red;
          border: none;
          border: none;
          margin-top: 20px;
          padding: 8px 20px;
          border-radius: 5px;
          transition: .2s;
          color: $white;

          &:hover {
            opacity: 0.8;
          }
        }
      }

      .sell__filter {
        margin-top: 15px;
        margin-bottom: 15px;
        @include userInput;
        width: 200px;
        display: flex;
        gap: 5px;

        button {
          @include userMainButton;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }

    .p2ptrading2__footer {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      @media screen and (max-width:576px) {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
      }
    }
  }
}

.p2ptrading2-coin-to-select-modal {
  padding: 16px 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .p2ptrading2-coin-to-select-modal__item {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid $background-color-4;
    transition: .2s;
    display: flex;
    align-items: center;
    gap: 5px;

    img {
      display: block;
      width: 20px;
      height: 20px;
      object-fit: cover;
    }

    &.active {
      background-color: $header2-background;
      border-color: $header2-background;
      color: $white;
    }

    &:hover {
      cursor: pointer;
      background-color: $header2-background;
      border-color: $header2-background;
      color: $white;
    }
  }
}