.swaptobeWalletList {
    .list {
        list-style: none;

        .list-item {
            margin-bottom: 16px;
            border-radius: 6px;
            padding: 25px 20px;
            background: $new-background-level-1;
            box-shadow: 0 6px 4px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-wrap: nowrap;
            transition: background 0.2s ease-in;

            &:hover {
                background: $new-background-level-2;
            }

            @media screen and(max-width:768px) {
                flex-wrap: wrap;
            }

            @media screen and (max-width: 576px) {
                flex-direction: column;
            }

            .name {
                display: flex;
                align-items: center;
                color: $new-text-color-white;
                font-weight: 400;
                letter-spacing: 0.5px;
                font-size: 14px;
                width: 35%;
                line-height: 1;

                @media screen and (max-width: 768px) {
                    width: 50%;
                }

                @media screen and (max-width: 576px) {
                    width: 100%;
                }

                img {
                    width: 45px;
                    height: 45px;
                    margin-right: 10px;
                }

                span {
                    font-weight: 700;
                    letter-spacing: 0.5px;
                    font-size: 16px;
                    margin-right: 4px;
                }

                div {
                    margin-left: 3px;
                }
            }

            .price {
                align-self: center;
                font-weight: 600;
                color: $new-text-color-white;
                display: flex;
                flex-direction: column;

                @media screen and (max-width: 576px) {
                    margin-left: 0;
                    margin-top: 15px;
                    align-self: flex-start;
                }

                span {
                    &:last-child {
                        font-weight: normal;
                        color: $new-text-color-white;
                        margin-top: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            margin-left: 5px;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }

            .action {
                margin-left: auto;
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                gap: 15px;
                align-items: center;

                @media screen and (max-width: 768px) {
                    width: 100%;
                    margin-top: 20px;
                }

                @media screen and (max-width: 576px) {
                    grid-template-columns: repeat(1, 1fr);
                }

                @media screen and (max-width: 340px) {
                    flex-direction: column;
                }

                .primary-button {
                    background: $new-primary-background-7;
                    color: $new-text-color-white;
                    padding: 8px 16px;
                    box-sizing: border-box;
                    border: none;
                    border-radius: 5px;
                    line-height: 1 !important;
                    height: fit-content;
                    transition: all 0.3s ease-out;
                    width: 100%;
                    font-weight: 500;
                    font-size: 15px;

                    &:hover {
                        background: $new-primary-background-6;
                        cursor: pointer;
                    }

                    @media screen and (min-width: 480px) {
                        width: fit-content;
                    }
                }

                .seconary-button {
                    padding: 8px 16px;
                    box-sizing: border-box;
                    border-radius: 5px;
                    line-height: 1 !important;
                    height: fit-content;
                    width: 100%;
                    border: 1px solid $new-primary-background-7;
                    background: $neutral-3;
                    color: $new-primary-background-7;
                    cursor: pointer;
                    font-size: 15px;
                    transition: all 0.3s ease-out;

                    &:hover {
                        background: $neutral-2;
                    }

                    @media screen and (min-width: 480px) {
                        width: fit-content;
                    }
                }
            }
        }
    }
}