.swaptobe-wallet {
    width: 100%;
    padding: 50px 0;

    .container {
        @include container;

        .title {
            font-weight: 500;
            color: $text-color-3;
            margin-bottom: 0;
            margin-left: 10px;
            font-size: 21px;
            font-family: "Roboto", sans-serif;
            margin-bottom: 40px;

            span {
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;

                img {
                    display: inline-block;
                    margin-right: 5px;
                }
            }
        }

        .info {
            padding: 24px;
            // background: linear-gradient(90.17deg, #4bbd99 1.71%, #007c91 97.5%);
            background: rgb(8, 121, 114);
            background: linear-gradient(90deg, rgba(8, 121, 114, 1) 0%, rgba(37, 89, 101, 1) 100%, rgba(37, 89, 101, 1) 100%);
            border-radius: 19px;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 50px;

            @media screen and (max-width:768px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }

            .left {
                display: flex;
                flex-direction: column;
                line-height: 39px;


                div:nth-of-type(2) {
                    font-size: 28px;
                    font-weight: 700;
                    font-family: "IBM Plex Sans";
                    word-break: break-word;
                }

            }

            .right {
                .right-text {
                    font-size: 20px;
                    font-weight: 300;
                    font-family: "IBM Plex Sans";
                    margin-bottom: 5px;
                }

                .right-actions {
                    display: flex;
                    justify-content: center;

                    .buy {
                        border: none;
                        background: $background-color-1;
                        border-radius: 5px;
                        padding: 5px 20px;
                        font-size: 16px;
                        font-family: "IBM Plex Sans";
                        font-weight: 500;
                        cursor: pointer;
                        text-transform: uppercase;
                        transition: .3s;

                        &:hover {
                            color: $text-color-4;
                        }
                    }

                    .sell {
                        margin-left: 30px;
                        border: none;
                        background: $background-color-2;
                        border-radius: 5px;
                        padding: 5px 20px;
                        font-size: 16px;
                        font-family: "IBM Plex Sans";
                        font-weight: 500;
                        text-transform: uppercase;
                        cursor: pointer;
                        transition: .3s;

                        &:hover {
                            color: $text-color-4;
                        }
                    }
                }
            }
        }


    }
}