@import "./assets/scss/base/base.scss";

// Modal
.ant-modal-content {
  background-color: $new-background-modal-antd;

  .ant-modal-close {
    display: none;
  }

  .ant-modal-header {
    background-color: $new-background-header-modal-antd;
    border-color: $neutral-10;

    .ant-modal-title {
      color: #fff;
    }
  }

  .ant-modal-body {
    padding: 0;

    .ant-table-pagination {
      margin-right: 20px;
    }
  }
}

// fix button antd issue when add tailwind
button[type="button"],
button[type="submit"],
button[type="reset"] {
  &.ant-btn-primary {
    color: #fff;
    background-color: #cb9950;

    &:disabled {
      color: #dfdfdf;
      background-color: #c49652;
    }
  }

  &.ant-btn-dangerous {
    background-color: #ff4d4f;
  }

  &.ant-btn-default {
    &:disabled {
      background-color: transparent;
    }
  }
}

// Sweet Alert
.btn-swal-antd {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 6px 25px;
  background-color: #255965;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    background-color: #255965cc;
  }
}

.content-swal-antd {
  color: black;
  font-size: 1rem;
}

.title-swal-antd {
  font-size: 1.5rem;
}

.no-border {
  border: 0 !important;
}

// Sweet Alert confirm
.swal2-html-container {
  .confirm-green {
    color: green;
    font-weight: bold;
  }
}

.swal2-actions {
  gap: 20px;

  .swal2-confirm {
    padding: 8px 20px;
    color: #fff;
    background-color: #255965;
    border: none;
    border-radius: 5px;
    transition: 0.2s;

    &:hover {
      background-color: #255965cc;
      cursor: pointer;
    }
  }

  .swal2-cancel {
    padding: 8px 20px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: transparent;

    &:hover {
      border-color: #255965;
      color: #255965;
      cursor: pointer;
    }
  }
}

// Progress
.ant-progress-text {
  display: none !important;
}

.ant-progress-outer {
  padding: 0 !important;
}

.ant-progress-success-bg {
  background-color: $green;
}

.ant-progress-bg {
  background-color: $red;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #666666;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5;
}
